/.byebug_history
.bundle/
log/*.log
pkg/
.overcommit*
.git-hooks/
rubocop/
.rubocop.yml

# simplecov output
coverage
.DS_Store
.env
.env.test
.env.local
spec/dummy/.byebug_history
spec/dummy/.env

.idea
/tmp/*
