<!DOCTYPE html>
<html lang="en">
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Connect with SoundCloud</title>
</head>
<body>
<p>
  <b style="width: 100%; text-align: center;">
    Thankyou - you have authorised us to work with your soundcloud account
  </b>
</p>
<p>
  <b style="width: 100%; text-align: center;">
    You can now close this window if the popup does not automatically close in a few seconds
  </b>
</p>
</body>
</html>
