<% if user_signed_in? %>

    <div class="dashboard">

      <ul>
        <li class="inline">
          <%= link_to "Connect with Soundcloud", main_app.soundcloud_connect_path, target: '_blank' %>
        </li>

      </ul>
    </div>


    Check Followers


    Create exclusion list

<% end %>