<h2>Welcome to Soundcloud Tools</h2>

<p>
This is an Open Source project to play with the soundcloud API and help manage a soundcloud account.
</p>
<p>
It does not offer any spam like services such as bumping up Plays, Likes or Followers.
</p>