<p id="notice"><%= notice %></p>

<h1>You currently have <%= @followers.size %> Followers</h1>

<% @followers.each do |follower, status| %>
    <ul>
      <li><%= follower.username %></li>
      <li><%= status %></li>
    </ul>

<% end %>

<br/>
